<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.dlzx.pfservercar.mapper.FFuelQuotaMapper">
    
    <resultMap type="com.dlzx.pfservercar.domain.FFuelQuota" id="FFuelQuotaResult">
        <result property="id"    column="id"    />
        <result property="name"    column="name"    />
        <result property="routeId"    column="route_id"    />
        <result property="routeName"    column="route_name"    />
        <result property="vehicleModel"    column="vehicle_model"    />
        <result property="vehicleModelName"    column="vehicle_model_name"    />
        <result property="quota"    column="quota"    />
        <result property="deleteFlag"    column="delete_flag"    />
        <result property="createBy"    column="create_by"    />
        <result property="createTime"    column="create_time"    />
        <result property="updateBy"    column="update_by"    />
        <result property="updateTime"    column="update_time"    />
        <result property="ballastQuota"    column="ballast_quota"    />
        <result property="pourQuota"    column="pour_quota"    />
        <result property="fuelType"    column="fuel_type"    />
    </resultMap>

    <sql id="selectFFuelQuotaVo">
        select id, name,route_id, route_name, vehicle_model, vehicle_model_name, quota, fuel.delete_flag, fuel.create_by, fuel.create_time, fuel.update_by, fuel.update_time
        ,ballast_quota,pour_quota,fuel_type, sysType.dict_label as fuelTypeEnum
         from f_fuel_quota fuel
         LEFT JOIN sys_dict_data sysType on fuel.fuel_type = sysType.dict_value and sysType.dict_type = 'f_fuel_quota_type'
    </sql>

    <sql id="deleteFlag">
       and delete_flag = 1
    </sql>

    <select id="selectFFuelQuotaList" parameterType="com.dlzx.pfservercar.domain.FFuelQuota" resultMap="FFuelQuotaResult">
        <include refid="selectFFuelQuotaVo"/>
        <where>  
            <if test="routeId != null  and routeId != ''"> and route_id = #{routeId}</if>
            <if test="routeName != null  and routeName != ''"> and route_name like concat('%', #{routeName}, '%')</if>
            <if test="name != null  and name != ''"> and name like concat('%', #{name}, '%')</if>
            <if test="vehicleModel != null  and vehicleModel != ''"> and vehicle_model = #{vehicleModel}</if>
            <if test="vehicleModelName != null  and vehicleModelName != ''"> and vehicle_model_name like concat('%', #{vehicleModelName}, '%')</if>
            <if test="quota != null "> and quota = #{quota}</if>
            <if test="ballastQuota != null "> and ballast_quota = #{ballastQuota}</if>
            <if test="pourQuota != null "> and pour_quota = #{pourQuota}</if>
            <if test="fuelType != null "> and fuel_type = #{fuelType}</if>
            <include refid="deleteFlag"/>
        </where>
    </select>
    
    <select id="selectFFuelQuotaById" parameterType="String" resultMap="FFuelQuotaResult">
        <include refid="selectFFuelQuotaVo"/>
        where id = #{id} and fuel.delete_flag = 1
    </select>

    <select id="queryModelAndRoute" resultMap="FFuelQuotaResult">
        <include refid="selectFFuelQuotaVo"/>
        where route_id = #{routeId} and vehicle_model = #{vehicleModel} and fuel.delete_flag = 1
    </select>

    <insert id="insertFFuelQuota" parameterType="com.dlzx.pfservercar.domain.FFuelQuota">
        insert into f_fuel_quota
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="id != null">id,</if>
            <if test="routeId != null">route_id,</if>
            <if test="name != null">name,</if>
            <if test="routeName != null">route_name,</if>
            <if test="vehicleModel != null">vehicle_model,</if>
            <if test="vehicleModelName != null">vehicle_model_name,</if>
            <if test="quota != null">quota,</if>
            <if test="deleteFlag != null">delete_flag,</if>
            <if test="createBy != null">create_by,</if>
            <if test="createTime != null">create_time,</if>
            <if test="updateBy != null">update_by,</if>
            <if test="updateTime != null">update_time,</if>
            <if test="ballastQuota != null">ballast_quota,</if>
            <if test="pourQuota != null">pour_quota,</if>
            <if test="fuelType != null">fuel_type,</if>
         </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="id != null">#{id},</if>
            <if test="routeId != null">#{routeId},</if>
            <if test="name != null">#{name},</if>
            <if test="routeName != null">#{routeName},</if>
            <if test="vehicleModel != null">#{vehicleModel},</if>
            <if test="vehicleModelName != null">#{vehicleModelName},</if>
            <if test="quota != null">#{quota},</if>
            <if test="deleteFlag != null">#{deleteFlag},</if>
            <if test="createBy != null">#{createBy},</if>
            <if test="createTime != null">#{createTime},</if>
            <if test="updateBy != null">#{updateBy},</if>
            <if test="updateTime != null">#{updateTime},</if>
            <if test="ballastQuota != null">#{ballastQuota},</if>
            <if test="pourQuota != null">#{pourQuota},</if>
            <if test="fuelType != null">#{fuelType},</if>
         </trim>
    </insert>

    <update id="updateFFuelQuota" parameterType="com.dlzx.pfservercar.domain.FFuelQuota">
        update f_fuel_quota
        <trim prefix="SET" suffixOverrides=",">
            <if test="routeId != null">route_id = #{routeId},</if>
            <if test="name != null">name = #{name},</if>
            <if test="routeName != null">route_name = #{routeName},</if>
            <if test="vehicleModel != null">vehicle_model = #{vehicleModel},</if>
            <if test="vehicleModelName != null">vehicle_model_name = #{vehicleModelName},</if>
            <if test="quota != null">quota = #{quota},</if>
            <if test="deleteFlag != null">delete_flag = #{deleteFlag},</if>
            <if test="createBy != null">create_by = #{createBy},</if>
            <if test="createTime != null">create_time = #{createTime},</if>
            <if test="updateBy != null">update_by = #{updateBy},</if>
            <if test="updateTime != null">update_time = #{updateTime},</if>
            <if test="ballastQuota != null">ballast_quota = #{ballastQuota},</if>
            <if test="pourQuota != null">pour_quota = #{pourQuota},</if>
            <if test="fuelType != null">fuel_type = #{fuelType},</if>
        </trim>
        where id = #{id}
    </update>

    <delete id="deleteFFuelQuotaById" parameterType="String">
        delete from f_fuel_quota where id = #{id}
    </delete>

    <update id="deleteFFuelQuotaByIds" parameterType="String">
        update f_fuel_quota set delete_flag = 2 where id in
        <foreach item="id" collection="array" open="(" separator="," close=")">
            #{id}
        </foreach>
    </update>
    
</mapper>