<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.dlzx.pfservercar.mapper.RVehicleConsumeMonthMapper">
    
    <resultMap type="RVehicleConsumeMonth" id="RVehicleConsumeMonthResult">
        <result property="id"    column="id"    />
        <result property="month"    column="month"    />
        <result property="number"    column="number"    />
        <result property="licensePlate"    column="license_plate"    />
        <result property="vehicleId"    column="vehicle_id"    />
        <result property="monthEndMileage"    column="month_end_mileage"    />
        <result property="lastMonthEndMileage"    column="last_month_end_mileage"    />
        <result property="monthFuelVolume"    column="month_fuel_volume"    />
        <result property="monthUreaVolume"    column="month_urea_volume"    />
        <result property="kmFuel"    column="km_fuel"    />
        <result property="kmUrea"    column="km_urea"    />
        <result property="deleteFlag"    column="delete_flag"    />
        <result property="createBy"    column="create_by"    />
        <result property="createTime"    column="create_time"    />
        <result property="updateBy"    column="update_by"    />
        <result property="updateTime"    column="update_time"    />
    </resultMap>

    <sql id="selectRVehicleConsumeMonthVo">
        select id, month, license_plate, vehicle_id, month_end_mileage, last_month_end_mileage, month_fuel_volume, month_urea_volume, km_fuel, km_urea, delete_flag, create_by, create_time, update_by, update_time from r_vehicle_consume_month
    </sql>

    <select id="selectRVehicleConsumeMonthList" parameterType="RVehicleConsumeMonth" resultMap="RVehicleConsumeMonthResult">
        <include refid="selectRVehicleConsumeMonthVo"/>
        <where>  
            <if test="month != null ">
                <![CDATA[
				    and	DATE_FORMAT(month, '%Y-%m') = DATE_FORMAT(#{month}, '%Y-%m')
			    ]]>
            </if>
            <if test="vehicleId != null  and vehicleId != ''"> and vehicle_id = #{vehicleId}</if>
             and delete_flag = '1'
        </where>
    </select>

    <select id="selectRVehicleConsumeMonthListAll" parameterType="RVehicleConsumeMonth" resultMap="RVehicleConsumeMonthResult">
        select  month , COUNT(0) AS number ,license_plate ,SUM(last_month_end_mileage) AS last_month_end_mileage ,SUM(month_fuel_volume) AS month_fuel_volume, SUM(month_urea_volume) AS month_urea_volume from r_vehicle_consume_month
        <where>
            <if test="month != null "> and month = #{month}</if>
            and delete_flag = '1'
        </where>
        GROUP BY month
    </select>

    <select id="selectRVehicleConsumeMonthById" parameterType="String" resultMap="RVehicleConsumeMonthResult">
        <include refid="selectRVehicleConsumeMonthVo"/>
        where id = #{id}
    </select>
        
    <insert id="insertRVehicleConsumeMonth" parameterType="RVehicleConsumeMonth">
        insert into r_vehicle_consume_month
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="id != null">id,</if>
            <if test="month != null">month,</if>
            <if test="licensePlate != null">license_plate,</if>
            <if test="vehicleId != null">vehicle_id,</if>
            <if test="monthEndMileage != null">month_end_mileage,</if>
            <if test="lastMonthEndMileage != null">last_month_end_mileage,</if>
            <if test="monthFuelVolume != null">month_fuel_volume,</if>
            <if test="monthUreaVolume != null">month_urea_volume,</if>
            <if test="kmFuel != null">km_fuel,</if>
            <if test="kmUrea != null">km_urea,</if>
            <if test="deleteFlag != null">delete_flag,</if>
            <if test="createBy != null">create_by,</if>
            <if test="createTime != null">create_time,</if>
            <if test="updateBy != null">update_by,</if>
            <if test="updateTime != null">update_time,</if>
         </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="id != null">#{id},</if>
            <if test="month != null">#{month},</if>
            <if test="licensePlate != null">#{licensePlate},</if>
            <if test="vehicleId != null">#{vehicleId},</if>
            <if test="monthEndMileage != null">#{monthEndMileage},</if>
            <if test="lastMonthEndMileage != null">#{lastMonthEndMileage},</if>
            <if test="monthFuelVolume != null">#{monthFuelVolume},</if>
            <if test="monthUreaVolume != null">#{monthUreaVolume},</if>
            <if test="kmFuel != null">#{kmFuel},</if>
            <if test="kmUrea != null">#{kmUrea},</if>
            <if test="deleteFlag != null">#{deleteFlag},</if>
            <if test="createBy != null">#{createBy},</if>
            <if test="createTime != null">#{createTime},</if>
            <if test="updateBy != null">#{updateBy},</if>
            <if test="updateTime != null">#{updateTime},</if>
         </trim>
    </insert>

    <insert id="insertRVehicleConsumeMonthList">
        insert into r_vehicle_consume_month( id, month, license_plate, vehicle_id, month_fuel_volume, month_urea_volume, delete_flag) values
        <foreach item="item" index="index" collection="list" separator=",">
            (#{item.id},#{item.month},#{item.licensePlate},#{item.vehicleId},#{item.monthFuelVolume},#{item.monthUreaVolume},#{item.deleteFlag})
        </foreach>
    </insert>

    <update id="updateRVehicleConsumeMonth" parameterType="RVehicleConsumeMonth">
        update r_vehicle_consume_month
        <trim prefix="SET" suffixOverrides=",">
            <if test="month != null">month = #{month},</if>
            <if test="licensePlate != null">license_plate = #{licensePlate},</if>
            <if test="vehicleId != null">vehicle_id = #{vehicleId},</if>
            <if test="monthEndMileage != null">month_end_mileage = #{monthEndMileage},</if>
            <if test="lastMonthEndMileage != null">last_month_end_mileage = #{lastMonthEndMileage},</if>
            <if test="monthFuelVolume != null">month_fuel_volume = #{monthFuelVolume},</if>
            <if test="monthUreaVolume != null">month_urea_volume = #{monthUreaVolume},</if>
            <if test="kmFuel != null">km_fuel = #{kmFuel},</if>
            <if test="kmUrea != null">km_urea = #{kmUrea},</if>
            <if test="deleteFlag != null">delete_flag = #{deleteFlag},</if>
            <if test="createBy != null">create_by = #{createBy},</if>
            <if test="createTime != null">create_time = #{createTime},</if>
            <if test="updateBy != null">update_by = #{updateBy},</if>
            <if test="updateTime != null">update_time = #{updateTime},</if>
        </trim>
        where id = #{id}
    </update>

    <delete id="deleteRVehicleConsumeMonthById" parameterType="String">
        delete from r_vehicle_consume_month where id = #{id}
    </delete>

    <delete id="deleteRVehicleConsumeMonthByIds" parameterType="String">
        delete from r_vehicle_consume_month where id in 
        <foreach item="id" collection="array" open="(" separator="," close=")">
            #{id}
        </foreach>
    </delete>
    
</mapper>